<div class="ui tablet stackable steps">
  <div class="step">
    <form class="ui form">
      <div class="field">
        <label>Building Address and BBL</label>
        <div class="field"><input type="text" name="address" placeholder="Address"></div>
        <div class="two fields">
          <div class="field"><input type="text" name="bbl" placeholder="BBL"></div>
          <div class="field"><input type="text" name="year-built" placeholder="Est. Year Built"></div>
        </div>
        
      </div>
      <div class="field">
        {{total-unit-count}}
      </div>
    </form>
  </div>

  <div class="step">
    {{detailed-analysis-thresholds}}
  </div>

  <div class="step">
    {{effects-result}}
  </div>
</div>



