<div class="ui tiny steps fluid">  
  {{#link-to "project.show.schools-capacity.analysis-threshold" class="step"}}  
    <div class="content">
      <div class="title">Analysis Threshold</div>
      <div class="description">Need for detailed analysis</div>
    </div>
  {{/link-to}}
  {{#link-to "project.show.schools-capacity.existing-conditions" class="step"}} 
    <div class="content">
      <div class="title">Existing Conditions</div>
      <div class="description"> Current school conditions</div>
    </div>
  {{/link-to}}
  {{#link-to "project.show.schools-capacity.no-action" class="step"}} 
    <div class="content">
      <div class="title">No Action Scenario</div>
      <div class="description">Future school conditions<br />without proposed project</div>
    </div>
  {{/link-to}}

  {{#link-to "project.show.schools-capacity.with-action" class="step"}}
    <div class="content">
      <div class="title">With Action Scenario</div>
      <div class="description">Future school conditions<br />with proposed project</div>
    </div>
  {{/link-to}}

  {{!-- {{#link-to "project.show.schools-capacity.mitigation" class="step disabled"}}
    <div class="content">
      <div class="title">Summary</div>
      <div class="description">View analysis<br />summary</div>
    </div>
  {{/link-to}} --}}
</div>