<div class="ui tiny steps fluid">  
  {{#link-to "project.show.schools-capacity.analysis-threshold" class="step"}}  
    <div class="content">
      <div class="title">Analysis Threshold</div>
      <div class="description">Determine need for<br />detailed analysis</div>
    </div>
  {{/link-to}}
  {{#link-to "project.show.schools-capacity.existing-conditions" class="step"}} 
    <div class="content">
      <div class="title">Existing Conditions</div>
      <div class="description">Confirm current<br />school conditions</div>
    </div>
  {{/link-to}}
  {{#link-to "project.show.schools-capacity.no-action" class="step"}} 
    <div class="content">
      <div class="title">Future Conditions:<br />No Action</div>
      <div class="description">Confirm future school conditions<br />without proposed actions</div>
    </div>
  {{/link-to}}

  {{#link-to "project.show.schools-capacity.with-action" class="step"}}
    <div class="content">
      <div class="title">Future Conditions:<br />With Action & Impacts</div>
      <div class="description">Confirm future school conditions<br />with proposed actions</div>
    </div>
  {{/link-to}}

  {{#link-to "project.show.schools-capacity.mitigation" class="step"}}
    <div class="content">
      <div class="title">Mitigation</div>
      <div class="description">Calculate possible<br />mitigation scenarios</div>
    </div>
  {{/link-to}}
</div>