<div class="ui tiny steps fluid">  
  {{#if project.isNew}}
    <div class="step disabled">  
      <div class="content">
        <div class="title">Project Details</div>
        <div class="description">Determine need for<br />detailed analysis</div>
      </div>
    </div>
    <div class="step disabled"> 
      <div class="content">
        <div class="title">Existing Conditions</div>
        <div class="description">Confirm current<br />school conditions</div>
      </div>
    </div>
    <div class="step disabled"> 
      <div class="content">
        <div class="title">Future Conditions:<br />No Action</div>
        <div class="description">Confirm future school<br />conditions without the proposed actions</div>
      </div>
    </div>
  {{else}}
    {{#link-to "project.show.analysis-threshold" class="step"}}  
      <div class="content">
        <div class="title">Analysis Threshold</div>
        <div class="description">Determine need for<br />detailed analysis</div>
      </div>
    {{/link-to}}
    {{#link-to "project.show.existing-conditions" class="step {{if project.isNew 'disabled'}}"}} 
      <div class="content">
        <div class="title">Existing Conditions</div>
        <div class="description">Confirm current<br />school conditions</div>
      </div>
    {{/link-to}}
    {{#link-to "project.show.no-action" class="step {{if project.isNew 'disabled'}}"}} 
      <div class="content">
        <div class="title">Future Conditions:<br />No Action</div>
        <div class="description">Confirm future school conditions<br />without the proposed actions</div>
      </div>
    {{/link-to}}
  {{/if}}

  <div class="link step">
    <div class="content">
      <div class="title">Future Conditions:<br />With Action</div>
      <div class="description">Confirm future school<br />conditions with action</div>
    </div>
  </div>
  <div class="link step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Results</div>
      <div class="description">Determine if significant<br />adverse impact is triggered</div>
    </div>
  </div>
</div>