<table class="ui definition table">
  <thead>
    <tr><th></th>
    <th>Elementary/<br />Intermediate</th>
    <th>High School</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Bronx</td>
      <td>90</td>
      <td>787</td>
    </tr>
    <tr>
      <td>Brooklyn</td>
      <td>121</td>
      <td>1068</td>
    </tr>
  </tbody>
</table>