<div class="ui message">
  <div class="header">
    Disclaimer
  </div>
  <p>You are viewing a prototype tool that can be used to assist city agencies, project sponsors, and the public in conducting certain quantitative analyses required by City Environmental Quality Review (CEQR).</p>
  <p>The tool is built upon the 2014 CEQR Technical Manual guidelines and uses datasets developed in consultation between DCP and expert agencies. The conclusions displayed in the tool are preliminary, and may not reflect departures in analytical approach from Technical Manual guidelines where warranted.</p>
  <p>Where there is uncertainty, please consult lead agency.</p>
</div>