<strong>Disclaimer</strong>
<div class="disclaimer">
  <p>You are viewing a prototype tool that can assist city agencies and project teams to conduct certain quantitative analyses required by City Environmental Quality Review (CEQR).</p>
  <p>The tool is based on the 2014 CEQR Technical Manual (CTM) and uses datasets developed in consultation between DCP and expert agencies. Because the CTM provides guidelines for analysis rather than rules, the conclusions displayed in the tool are preliminary and will not reflect departures in analytical approach from CTM guidelines when deemed appropriate by the lead agency.</p>
</div>
