<div class="ui center aligned grid">
  <div class="row login">
    <div class="six wide column">
      <h2 class="ui blue header">
        <div class="content">
          Reset your password
        </div>
      </h2>

      <div class="ui message">
        Enter a new password for your account.
      </div>

      <div class="ui segment">
        <form 
          class="ui large form {{if error "error"}}"
          {{action "resetPassword" password on="submit"}}
        >
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input 
                type="password"
                name="password"
                value=password
                placeholder="Password"
              }}
            </div>
          </div>

          <div class="ui left error message">
            <div class="header">Error</div>
            <p>{{error.message}}</p>
          </div>

          <button type="submit" class="ui fluid large primary submit button">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
