<table class="ui celled table">
  <thead>
    <tr>
      <th>Study Area</th>
      <th>School Under Construction</th>
      <th>Data as Of</th>
    </tr>
  </thead>

  <tbody>
    {{#each (await analysis.resultsNoAction) as |p|}}
      <tr>
        {{#each p.futureNoAction.scaUnderConstruction as |b|}}
          <td>District {{p.district}} - Subdistrict {{p.subdistrict}}</td>
          <td>{{b.school}}</td>
          <td>{{moment-format b.data_as_of 'MM/DD/YYYY'}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>