<table class="ui celled table">
  <thead>
    <tr>
      <th>School Under Construction</th>
      <th>Estimated Capacity</th>
      <th>Estimated Completion Date</th>
      <th>Data as Of</th>
    </tr>
  </thead>

  <tbody>
    {{#each project.futureNoAction as |p|}}
      <thead>
        <th colspan="4">District {{p.district}} - Subdistrict {{p.subdistrict}}</th>
      </thead>
      <tr>
        {{#each p.scaUnderConstruction as |b|}}
          <td>{{b.school}}</td>
          <td></td>
          <td></td>
          <td>{{moment-format b.data_as_of 'MM/DD/YYYY'}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>