<table class="ui very basic celled table">
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">
            Total Units
            <div class="sub header">Incremental</div>
          </div>
        </h4>
      </td>

      <td class="math--bottom positive">
        <div class="ui input transparent edit-cell">
          {{input id="total" min=0 max=9999 type="number" value=model.totalUnits placeholder=0}}
        </div>  
        <i class="minus circle icon"></i>
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">
            Senior Units
          </div>
        </h4>
      </td>

      <td class="positive">
        <div class="ui input transparent edit-cell">
          {{input id="senior" min=0 max=9999 type="number" value=model.seniorUnits placeholder=0}}
        </div>
      </td>
    </tr>
</tbody>

  <tfoot>
    <th>
      <h4 class="ui image header">
        <i class="building icon"></i>
        <div class="content">
          Units for Analysis
          <div class="sub header">excluding Senior Units</div>
        </div>
      </h4>
    </th>

    <th>
      <h4>{{netUnits}}</h4>
    </th>
  </tfoot>
</table>
