<div class="field">
  <div class="ui two column divided grid">
    <div class="row">
      <div class="column">
        <div class="field">
          <label>Total Units</label>
          {{input type="text" value=totalUnits placeholder="Total Units"}}
        </div>
        <div class="field">
          <label>Senior Units</label>
          {{input type="text" value=seniorUnits placeholder="Senior Units"}}
        </div>
      </div>
      <div class="column">
        <div class="ui statistic">
          <div class="value">
            {{netUnits}}
          </div>
          <div class="label">
            Net Units
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>