<div class="two fields">
    <div class="ui labeled input field">
      <label for="total" class="ui label">Total Units</label>
      {{input id="total" size=7 type="text" value=model.totalUnits placeholder=0}}
    </div>

    <div class="ui labeled input field">
      <label for="senior" class="ui label">Senior Units</label>
      {{input id="senior" size=7 type="text" value=model.seniorUnits placeholder=0}}
    </div>

    <div class="ui tiny statistic field">
      <div class="value">
        {{model.netUnits}}
      </div>
      <div class="label">
        Net Units
      </div>
    </div>
</div>

