<div class="ui pointing menu">
  {{#link-to "project.show.schools-capacity.with-action.scenario" project.id class="item"}}
    With Action Scenario
  {{/link-to}}

  {{#link-to "project.show.schools-capacity.with-action.new-schools" project.id class="item"}}
    With Action<br />Additional Schools
    <div class="ui label blue">{{project.schoolsWithAction.length}}</div>
  {{/link-to}}
</div>


