{{#if schools-capacity.initialLoad.isIdle}}
  <div class="sixteen wide column">
    {{project-map project=project}}
  </div>

  <div class="sixteen wide column">
<<<<<<< HEAD
    <div class="ui menu">
      <div class="right item">
        {{#link-to "project.show.schools-capacity.no-action" project.id class="ui primary button"}}
          Next <i class="arrow right icon"></i>
        {{/link-to}}
      </div>
    </div>
=======
    {{existing-conditions-steps project=project}}
>>>>>>> define study area wip
  </div>
{{/if}}