{{#if schools-capacity.initialLoad.isIdle}}
  <div class="sixteen wide column">
    {{project-map project=project}}
  </div>

  <div class="sixteen wide column">
    {{existing-conditions-steps project=project}}
  </div>
{{/if}}