{{#if schools-capacity.initialLoad.isIdle}}
  <div class="sixteen wide column">
    {{with-action-steps project=project}}
  </div>

  <div class="sixteen wide column">
    {{outlet}}
  </div>
{{/if}}
