{{#if schools-capacity.initialLoad.isIdle}}
  <div class="row">
    <div class="sixteen wide column">
      {{table-project-card project=project}}
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      {{table-with-action-school project=project}}
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      {{table-with-action-enrollment project=project}}
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">    
      {{table-results project=project}}
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="sixteen wide column">
    <div class="ui menu">
      <div class="right item">
        {{#link-to "project.show.schools-capacity.mitigation" project.id class="ui primary button"}}
          Next <i class="arrow right icon"></i>
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
