.ui.grid.site {
  padding-top: 70px;
}

.ui.selection.dropdown {
  min-width: 8em;
}

#study-area-map,
#map-future-no-action {
  height: 550px;
}

.lcgms .circle.icon {
  color: #2b83ba;
}

.bluebook .circle.icon {
  color: #2b83ba;
}

.map-ui {
  position: absolute;
  z-index: 10;
  background: white;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.4);
  font-size: 14px;
}

.edit-cell input {
  width: 50px;
}

.login, .signup {
  .ui.header {
    margin-top: 100px;
  }

  &.grid {
    height: 100%; 
  }

  .column {
    max-width: 450px;
  }
}