.ui.grid.site {
  margin-top: 20px;
}

.ui.selection.dropdown {
  min-width: 8em;
}

#study-area-map {
  height: 600px;
}

.lcgms .circle.icon {
  color: #1a9850;
}

.bluebook .circle.icon {
  color: rgb(247, 202, 0);
}