<div class="ui pointing menu">
  {{#link-to
    "project.show.public-schools.existing-conditions.schools"
    project.id
    class="item"
  }}
    Public Schools Serving Study Area
  {{/link-to}}
  <div class="right menu">
    {{#link-to
      "project.show.public-schools.existing-conditions.study-area"
      project.id
      class="item"
    }}
      Study Area
      {{#if displayWarning}}
        <div class="ui basic label orange">
          <i class="attention orange icon" style="margin: 0"></i>  
        </div>
      {{/if}}
    {{/link-to}}

    {{#link-to
      "project.show.public-schools.existing-conditions.new-schools"
      project.id
      class="item"
    }}
      Newly Opened Schools
      <div
        class="ui label {{if (gt this.newlyOpenedSchools.length 0) "orange" "green"}}"
      >
        {{this.newlyOpenedSchools.length}}
      </div>
    {{/link-to}}
  </div>
</div>