<td>{{this.label}}</td>
<td>{{input type="number" max="100" min="0" value=this.data.in input=(action "syncOut" this.data.in) data-test-in-out-split="in"}}</td>
<td>{{input type="number" max="100" min="0" value=this.data.out input=(action "syncIn" this.data.out)}}</td>
