<div class="sixteen wide column">
  <PublicSchools::ExistingConditions::ExistingConditionsSteps
    @analysis={{this.model.publicSchoolsAnalysis}}
    @project={{this.project}}
  />
</div>
<div class="sixteen wide column">
  {{outlet}}
</div>
