{{#if public-schools.fullReload.isIdle}}
  <div class="sixteen wide column">
    <PublicSchools::ExistingConditions::ExistingConditionsSteps
      @analysis={{model.publicSchoolsAnalysis}}
      @project={{project}}
    />
  </div>
  <div class="sixteen wide column">
    {{outlet}}
  </div>
{{/if}}