<div class="sixteen wide column">
  <PublicSchools::NoAction::NoActionSteps
    @project={{this.project}}
    @analysis={{this.model.publicSchoolsAnalysis}}
    />

</div>
<div class="sixteen wide column">
  {{outlet}}
</div>
