<div class="sixteen wide column">
  <PublicSchools::NoAction::NoActionSteps
    @project={{project}}
    @analysis={{model.publicSchoolsAnalysis}}
    />

</div>
<div class="sixteen wide column">
  {{outlet}}
</div>
