{{#if public-schools.fullReload.isIdle}}
  <div class="sixteen wide column">
    {{public-schools/with-action/steps project=project analysis=model.publicSchoolsAnalysis}}
  </div>

  <div class="sixteen wide column">
    {{outlet}}
  </div>
{{/if}}
