version: '3.7'
services:
  # ceqr app service
  backend:
    build: backend
    entrypoint: ./entrypoint.sh
    volumes:
      - ./backend:/app
    ports:
      - "3000:${SERVICE_PORT}"
    environment:
      PORT: ${SERVICE_PORT}
      DATABASE_URL: postgis://postgres@postgis:5432/ceqr_rails
      CEQR_DATA_DB_URL: postgis://doadmin:${PSQL_PASSWORD}@ceqr-data-readonly-do-user-1939427-0.db.ondigitalocean.com:25060/ceqr_data
      JWT_SALT: saltysaltysalt
      SENDGRID_KEY: ''
      ADMIN_EMAILS: 'test@test.com'
    healthcheck:
      test: ["CMD", "curl", "http://localhost:3000"]
      interval: 10s
      timeout: 30s
      retries: 3
    stdin_open: true
  # ceqr app frontend
  frontend:
    image: danlynn/ember-cli
    entrypoint: ./entrypoint.sh
    volumes:
      - ./frontend:/myapp
    ports:
      - "4200:4200"
    environment:
      HOST: http://localhost:3000
      DISABLE_MIRAGE: 'true'
    healthcheck:
      test: ["CMD", "curl", "http://localhost:4200"]
      interval: 1m
      timeout: 30s
      start_period: 5m
      retries: 5

  # postgis backend
  postgis:
    image: mdillon/postgis
    ports:
      - "5432:5432"
  # short-lived container to create db if not already running
  # have to use the app image build b/c we need rails installed to migrate the db
  migrate:
    build: backend
    entrypoint: ./migrate.sh
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgis://postgres@postgis:5432/ceqr_rails
      CEQR_DATA_DB_URL: postgis://doadmin:${PSQL_PASSWORD}@ceqr-data-readonly-do-user-1939427-0.db.ondigitalocean.com:25060/ceqr_data
