<UiDropdown @selected={{this.currentChapter}} class="chapter-dropdown">

  <div class="default text">
    Select Chapter
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div
      data-value="community-facilities"
      class="item"
      {{!-- This is refactorable because it's not using idiomtic syntax,
      whereby a change function is passed via the UiDropdown parent component --}}
      onClick={{fn this.gotoChapter "community-facilities"}}
    >
      <h3>
        <i class="university icon"></i>
        Community Facilities
      </h3>
    </div>
    <div
      data-value="public-schools"
      class="item"
      {{!-- This is refactorable because it's not using idiomtic syntax,
      whereby a change function is passed via the UiDropdown parent component --}}
      onClick={{fn this.gotoChapter "public-schools"}}
    >
      <h3>
        <i class="graduation cap icon"></i>
        Public Schools
      </h3>
    </div>
    <div
      data-value="transportation"
      class="item"
      {{!-- This is refactorable because it's not using idiomtic syntax,
      whereby a change function is passed via the UiDropdown parent component --}}
      onClick={{fn this.gotoChapter "transportation"}}
    >
      <h3>
        <i class="car icon"></i>
        Transportation
      </h3>
    </div>
  </div>
</UiDropdown>