<div class="ui {{if this.analysisNeeded "yellow" "grey"}} segment">
  <h3>
    {{yield}}
    <div class="ui big horizontal label {{if this.analysisNeeded "yellow" "grey"}}">
      {{if this.analysisNeeded "Yes" "No"}}
    </div>
  </h3>
</div>