<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui dividing header">
      New Project
    </h2>
  </div>

  <div class="sixteen wide column">
    {{project-details isNew=model.project.isNew project=model.project nextAction=(route-action 'createProject')}}
  </div>
</div>