<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui dividing header">
      New Project
    </h2>
  </div>

  <div class="sixteen wide column">
    {{project-details project=(changeset model.project ProjectValidations) save=(route-action 'createProject')}}
  </div>
</div>