<div class="row">
    <div class="sixteen wide column">
      <h3 class="ui top attached header">
        Future Conditions: No-Action
      </h3>
      <div class="ui attached segment">
        {{map-future-no-action}}

        {{table-sca-under-construction}}
        
        {{table-projected-enrollment project=project}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ten wide column">
    </div>

    <div class="six wide column">
      {{#ui-accordion}}
        <div class="title">
          <h4><i class="dropdown icon"></i>300. Assessment Methods</h4>
        </div>
        <div class="content">
          <p>If the preliminary analysis (Section 200) indicates that more detailed analyses are necessary for certain community
          facilities, the following approach may be used. This approach generally consists of delineating one or more study areas
          for the potentially affected community facilities, gathering information on current and future utilization levels and
          any plans for expansion, and, finally, assessing the potential impact of the project on community facilities.</p>
        </div>

        <div class="title">
          <h4><i class="dropdown icon"></i>310. Study Areas</h4>
        </div>
        <div class="content">
          <p>The study areas for detailed analyses are different for each type of facility and are described below (Subsections 311-315).
          The community facilities examined in detailed analyses should be identified on maps that show the project site and area
          facilities, with the study area delineated (e.g., a line showing 0.5 mile radius from the project site). For a generic or
          programmatic project, a map for each neighborhood or district affected by the proposed project may need to be provided for
          those areas where the thresholds for preliminary analyses have been exceeded. In addition, if a community facility is to
          be directly affected by the proposed project, such as through the taking of land area or portion of a building used by the
          facility, it is sometimes helpful to provide a site plan or floor plan of the facility that shows the nature of the direct
          impact. Information for the initial identification of community facilities in the study area may be obtained from the Selected
          Facilities and Program Sites in New York City database and the Gazetteer of City Property (See Section 737). This information
          may be verified through field surveys and contact with relevant oversight agencies (see Section 730).</p>
        </div>

        <div class="title">
          <h4><i class="dropdown icon"></i>311. Public Schools</h4>
        </div>
        <div class="content">
        <p>The study area for the analysis of elementary and intermediate schools should be the school district’s “sub-district”
          in which the project is located. The GIS files for the sub-district boundaries (“regions” or “school planning zones”)
          are available, upon request, from the Department of City Planning. If the project or area rezoning straddles two or more 
          school districts or sub‐districts, the SCA’s Capital Planning Division should be consulted to determine the appropriate
          study areas for analysis. The locations of the elementary and intermediate schools should be shown on a map of the school
          district, with the sub-district study area delineated on the map. A scale bar should be provided on the map. If necessary,
          a separate map for elementary schools should be provided. If the threshold for examination of potential impacts on high
          schools has been exceeded, the study area for the high school analysis should be the borough in which the project is located.
          In addition, the location of the high school(s) near the area in which the project is located (within approximately a mile)
          should also be shown.</p>
        </div>
      {{/ui-accordion}}
    </div>
  </div>