<div class="row">
  <div class="sixteen wide column">
    <h1 class="ui dividing header">{{project.project_id}} - {{project.name}} {{#link-to "project.show.edit"}}Edit{{/link-to}}</h1> 
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
      {{analysis-steps project=project}}
  </div>
</div>

{{outlet}}

