<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px;">Peak Hour Trips</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th></th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AM</td>
        <td>{{results.am.total.total}}</td>
      </tr>
      <tr>
        <td>Midday</td>
        <td>{{results.md.total.total}}</td>
      </tr>
      <tr>
        <td>PM</td>
        <td>{{results.pm.total.total}}</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>{{results.saturday.total.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="eight wide column"></div>
