<div class="row">
  <div class="column">
    <Project::DetailedAnalysisBanner
      @analysisNeeded={{model.communityFacilitiesAnalysis.potentialLibraryImpact
      }}
    >
      Does this project require a detailed analysis of potential impacts to library capacity?
    </Project::DetailedAnalysisBanner>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Project::DetailedAnalysisBanner
      @analysisNeeded={{model.communityFacilitiesAnalysis.potentialChildCareImpact
      }}
    >
      Does this project require a detailed analysis of potential impacts to child care center capacity?
    </Project::DetailedAnalysisBanner>
  </div>
</div>
<div class="row">
  <div class="column">
    <CommunityFacilities::DetailedAnalysisThresholds
      @analysis={{model.communityFacilitiesAnalysis}}
      @project={{model.project}}
     />

  </div>
</div>