<div class="ui pointing menu">
  <LinkTo
    @route="project.show.public-schools.with-action.scenario"
    @model={{this.project.id}}
    class="item"
  > 
    With Action Scenario
  </LinkTo>
  <div class="right menu">
    <LinkTo
      @route="project.show.public-schools.with-action.new-schools"
      @model={{this.project.id}}
      class="item"
    >
      With Action
      <br>
      Additional Schools
      <div class="ui label blue">
        {{this.analysis.schoolsWithAction.length}}
      </div>
    </LinkTo>
  </div>
</div>