<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui dividing header">
      New Project
    </h2>
  </div>
  <div class="sixteen wide column">
    <ProjectDetails
      @project={{changeset this.model.project this.ProjectValidations}}
      @mapplutoVersions={{this.model.mapplutoVersions}}
      @save={{route-action "createProject"}}
     />

  </div>
</div>
