<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px">In/Out Splits</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="two wide">Day</th>
        <th class="two wide">In</th>
        <th class="two wide">Out</th>
      </tr>
    </thead>
    <tbody class="ui form">
      <Transportation::Tdf::InOutSplits::TableRow @data={{this.data.am}} @label="AM" data-test-in-out-split="am"/>
      <Transportation::Tdf::InOutSplits::TableRow @data={{this.data.md}} @label="Midday" />
      <Transportation::Tdf::InOutSplits::TableRow @data={{this.data.pm}} @label="PM" />
      <Transportation::Tdf::InOutSplits::TableRow @data={{this.data.saturday}} @label="Saturday" />
    </tbody>
  </table>
</div>
