<div class="ui tabular menu">
  {{#link-to
    "project.show.transportation.tdf.planning-factors"
    project.id
    class="item"
  }}
    Planning Factors
  {{/link-to}}
  
  {{#link-to
    "project.show.transportation.tdf.trip-results"
    project.id
    class="item"
  }}
    Trip Results
  {{/link-to}}

  {{!-- <a class="item disabled">
    Trip Assignment
  </a> --}}
</div>
