<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px">Truck Directional Distribution</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="two wide">Day</th>
        <th class="two wide">In</th>
        <th class="two wide">Out</th>
      </tr>
    </thead>
    <tbody class="ui form">
      <Transportation::Tdf::InOutSplits::TableRow @data={{data.allDay}} @label="All Day" />
      <tr>
        <td colspan="3">
          <div class="ui blue button right floated" onClick={{action saveFactor}}>
            Save
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <Transportation::Tdf::TableNote 
            @tableName="truckDirectionalDistribution"
            @factor={{factor}}
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
