<div class="sixteen wide column">
  {{project-details project=project ceqrManual=ceqrManual nextAction=(action 'saveProjectDetails')}}
</div>

<div class="sixteen wide column">
  {{#link-to "project.show.schools-capacity.analysis-threshold" class="ui button"}}
    Back
  {{/link-to}}
  
  <button class="ui primary button" {{action "saveProjectDetails"}}>
    Save Project
  </button>
</div>
