<div class="row">
  <div class="sixteen wide column">
    {{!-- <div class="ui icon warning message">
      <i class="exclamation icon"></i>
      <div class="content">
        <div class="header">
          Missing data
        </div>
        <p>Please filling in the missing fields below</p>
      </div>
    </div> --}}

    {{recently-built-schools project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div class="ui top attached header">
      <h3>Existing Conditions</h3>
    </div>
    <div class="ui attached segment">        
      {{map-existing-conditions project=project}}
    </div>

    {{table-existing-conditions project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div class="ui menu">
      <div class="right item">
        <button class="ui primary button" {{action "saveExistingConditions"}}>
          Next <i class="arrow right icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
