<div class="row">
  <div class="sixteen wide column">
    {{!-- will need to add `success` status --}}
    {{recently-built-schools project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <h3 class="ui top attached header">
      Existing Conditions <em>Bluebook 2016-17</em>
    </h3>
    <div class="ui attached segment">        
      {{map-existing-conditions project=project}}
    </div>

    {{table-existing-conditions project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div class="ui menu">
      <div class="right item">
        <button class="ui primary button" {{action "saveExistingConditions"}}>
          Next <i class="arrow right icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
