<div class="row">
  <div class="sixteen wide column">
    <div class="ui top attached header">
      <h3>Existing Conditions</h3>
    </div>

    <div class="ui attached segment">        
      {{map-existing-conditions project=project}}
    </div>

    <div class="ui attached icon message">
      <i class="database icon"></i>
      <div class="content">
        <div class="header"><a target="_blank" href="http://www.nycsca.org/Community/Capital-Plan-Reports-Data#Enrollment-Capacity-Utilization-69">SCA Enrollment, Capacity, and Utilization (Blue Book) [2016-17] <i class="external alternate icon"></i></a></div>
        <p>
        The Enrollment, Capacity & Utilization Report is an annual document that provides information
        on school organization and school building utilization. 
        </p>
      </div>
    </div>

    {{table-existing-conditions project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div class="row">
      {{recently-built-schools project=project}}
    </div>
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div class="ui menu">
      <div class="right item">
        <button class="ui primary button" {{action "saveExistingConditions"}}>
          Next <i class="arrow right icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
