<div class="row">
  <div class="sixteen wide column">
      {{analysis-steps project=project}}
  </div>

  <div class="ui inverted dimmer {{if schools-capacity.initialLoad.isRunning "active"}}">
    <div class="ui text loader">Loading</div>
  </div>
</div>

{{#if (and showMap schools-capacity.initialLoad.isIdle)}}
  <div class="sixteen wide column">
    {{project-map project=project}}
  </div>
{{/if}}

{{outlet}}