<div class="row">
  <div class="sixteen wide column">
    {{table-with-action-additional-students project=project}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    {{table-with-action-enrollment project=project}}
  </div>
</div>