<div class="ui tiny steps fluid">
  <LinkTo
    @route="project.show.public-schools.analysis-threshold"
    @model={{this.project.id}}
    class="step"
  >
    <div class="content">
      <div class="title">
        Analysis Threshold
      </div>
      <div class="description">
        Need for detailed analysis
      </div>
    </div>
  </LinkTo>
  <LinkTo
    @route="project.show.public-schools.existing-conditions"
    @model={{this.project.id}}
    class="step"
  >
    <div class="content">
      <div class="title">
        Existing Conditions
      </div>
      <div class="description">
        Current school conditions
      </div>
    </div>
  </LinkTo>
  <LinkTo @route="project.show.public-schools.no-action" @model={{this.project.id}} class="step">
    <div class="content">
      <div class="title">
        No Action Scenario
      </div>
      <div class="description">
        Future school conditions
        <br>
        without proposed project
      </div>
    </div>
  </LinkTo>
  <LinkTo @route="project.show.public-schools.with-action" @model={{this.project.id}} class="step">
    <div class="content">
      <div class="title">
        With Action Scenario
      </div>
      <div class="description">
        Future school conditions
        <br>
        with proposed project
      </div>
    </div>
  </LinkTo>
</div>
