<div class="ui center aligned grid">
  <div class="row login">
    <div class="six wide column">
      <h2 class="ui blue header">
        <div class="content">
          Request to reset your password
        </div>
      </h2>
      <div class="ui segment">
        <form 
          class="ui large form {{if error "error"}}"
          {{action "requestResetPassword" email on="submit"}}
        >
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              {{input 
                type="email"
                name="email"
                value=email
                placeholder="Email"
              }}
            </div>
          </div>

          <div class="ui left error message">
            <div class="header">Error</div>
            <p>{{error.message}}</p>
          </div>

          <button type="submit" class="ui fluid large primary submit button">Request password reset</button>
        </form>
      </div>
    </div>
  </div>
</div>