<div class="ui column">
  {{#if this.newDataAvailable}}
    <div class="row" style="margin-bottom: 10px;">
      <div class="ui label">
        <i class="exclamation orange circle icon"></i> New data available
      </div>
    </div>
  {{/if}}

  <div class="row" style="margin-bottom: 10px;">
    <UiDropdown
      @selected={{this.currentPackage.version}}
      class="selection fluid"
    >
      <div class="text"></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each this.availablePackages as |package|}}
          <div
            role="button"
            data-value={{package.version}}
            class="item"
            {{on "click" (fn this.changeDataPackage package)}}
          >
            {{package.name}}
          </div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
</div>
