<td>{{this.title}}</td>
{{#each this.allModalSplitData as |modalSplit|}}
  <td>{{get-split-percent modalSplit this.variables}}</td>
{{/each}}
<td>{{get-aggregate-percent this.allModalSplitData this.variables}}</td>
