<div class="row">
  <div class="sixteen wide column">
    <Transportation::TripGenerationTables::ModalSplitsVehicleOccupancy
      @analysis={{this.model.transportationAnalysis}}
    />
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::TripGenerationTables::TripGenerationRates
      @analysis={{this.model.transportationAnalysis}}
    />
  </div>
</div>
{{!-- <div class="row">
  <div class="sixteen wide column">
    Trip Generation Results Table
    <Transportation::TripGeneration::TripGenerationResultsTable
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
 --}}