{{!-- <div class="row">
  <div class="sixteen wide column">
    Modal Splits and Vehicle Occupancy Table
    <Transportation::TripGeneration::ModalSplitVehicleOccupancyTable
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div> --}}
<div class="row">
  <div class="sixteen wide column">
    <Transportation::TripGenerationTables::TripGenerationRates
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
{{!-- <div class="row">
  <div class="sixteen wide column">
    Trip Generation Results Table
    <Transportation::TripGeneration::TripGenerationResultsTable
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
 --}}