<div class="ui container">
  <div class="ui centered grid">
    <div class="ui row">
      <div class="ui message">
        Woops! What you're looking for isn't here.
      </div>
    </div>
  </div>
</div>