<div class="ui grid">
  <div class="sixteen wide column">
    <PublicSchools::StudentsGenerated
      @project={{this.project}}
      @analysis={{this.model.publicSchoolsAnalysis}}
    />

  </div>
  <div class="sixteen wide column">
    <PublicSchools::WithAction::ChangeInEnrollment
      @analysis={{this.model.publicSchoolsAnalysis}}
    />

  </div>
  <div class="sixteen wide column">
    <PublicSchools::WithAction::Results
      @analysis={{this.model.publicSchoolsAnalysis}}
    />

  </div>
</div>