<div class="ui grid">
  <div class="sixteen wide column">
    {{public-schools/students-generated project=project analysis=model.publicSchoolsAnalysis}}
  </div>

  <div class="sixteen wide column">
    {{public-schools/with-action/change-in-enrollment analysis=model.publicSchoolsAnalysis}}
  </div>

  <div class="sixteen wide column">
    {{public-schools/with-action/results analysis=model.publicSchoolsAnalysis}}
  </div>
</div>