<div class="ui center aligned grid">
  <div class="row login">
    <div class="six wide column">
      <h2 class="ui blue header">
        <div class="content">
          Your account is in review
        </div>
      </h2>
      <p>
        The CEQR App team has been notified of your request<br>and will respond shortly.
      </p>
      <p>
        Note: please give the team a week to review.
      </p>
      {{#link-to "login" class="ui button primary"}}
        Return to Login
      {{/link-to}}
    </div>
  </div>
</div>