<div class="ui card">
  <div class="content">
    <div class="header">
      {{feature.properties.boroname}}
    </div>
    <div class="meta">
      <span>
        Census Tract ID:
        {{feature.properties.geoid}}
      </span>
    </div>
    <div class="description">
      <Transportation::StudyAreaMap::CensusTractPopup::Data
        @geoid={{feature.properties.geoid}} as |censusData|
      >
        <censusData.loading>
          <i class="spinner icon"></i>
        </censusData.loading>

        <censusData.loaded as |data|>
          <Transportation::StudyAreaMap::CensusTractPopup::ModalSplitFormatter @data={{data}}/>
        </censusData.loaded>
      </Transportation::StudyAreaMap::CensusTractPopup::Data>
    </div>
  </div>
</div>
