{{! transportation/existing-conditions controller template }}
<div class="row">
  <div class="sixteen wide column">
    <Transportation::StudyAreaMap
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::StudyAreaTable
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
{{outlet}}
