{{! transportation/existing-conditions controller template }}
{{outlet 'map'}}
<div class="row">
  <div class="sixteen wide column">
    <Transportation::ExistingConditions::ExistingConditionsSteps
      @project={{project}}
    />
  </div>
</div>
{{outlet 'table'}}