<div class="ui tiny steps">
  {{#link-to
    "project.show.transportation.analysis-threshold"
    project.id
    class="step"
  }}
    <div class="content">
      <div class="title">
        Analysis Threshold
      </div>
      <div class="description">
        Need for detailed analysis
      </div>
    </div>
  {{/link-to}}
  {{#link-to
    "project.show.transportation.tdf"
    project.id
    class="step"
  }}
    <div class="content">
      <div class="title">
        Transportation Demand Factors
      </div>
    </div>
  {{/link-to}}
</div>
