<div class="ui menu fluid">
  {{#each factors as |factor|}}
    {{#link-to
      factorLink
      factor.id
      class="item"
    }}
      {{humanize factor.landUse}}
      <div class="ui horizontal label">
        {{pluralize (format-number factor.units) factor.unitName}}
      </div>
    {{/link-to}}
  {{/each}}

    <div class="sixteen wide column">
      {{#link-to
        "project.show.transportation.tdf.trip-results"
        model.project.id
        class="ui primary massive button"
      }}
        Next <i class="ui icon caret right"></i>
      {{/link-to}}
    </div>

    <div class="ui blue button">
      Save
    </div>

  {{!-- {{#if showTotalLink}}
    {{#link-to
      totalLink
      class="item right floated"
    }}
      Trip Totals
    {{/link-to}}
  {{/if}} --}}
</div>
