<div class="ui menu fluid">
  {{#each model.transportationPlanningFactors as |factor|}}
    {{#link-to
      factorLink
      factor.id
      class="item"
    }}
      <span data-test-land-use-tab="{{factor.landUse}}">{{humanize factor.landUse}}</span>
      <div class="ui horizontal label">
        {{pluralize (format-number factor.units) factor.unitName}}
      </div>
    {{/link-to}}
  {{/each}}

  <div class="ui segment">
    <div class="ui primary button" data-test-button="saveFactors" onClick={{action saveFactors}}>
      Save
    </div>
  </div>

  <div class="ui segment">
    {{#link-to
      "project.show.transportation.tdf.trip-results"
      model.project.id
      class="ui primary button"
    }}
      Next <i class="ui icon caret right"></i>
    {{/link-to}}
  </div>

  {{!-- {{#if showTotalLink}}
    {{#link-to
      totalLink
      class="item right floated"
    }}
      Trip Totals
    {{/link-to}}
  {{/if}} --}}
</div>
