{{#if this.hasUpcomingMaintenance}}
  <div class="ui maintenance-banner">
    <div class="maintenance-notice">
      <p>
        Please be advised that there will be scheduled maintenance from {{this.maintenanceStart}} to {{this.maintenanceEnd}}. During that time, you will not be able to sign in to your account.  Thank you for your understanding. For help, please email example@planning.nyc.gov.
      </p>
    </div>
  </div>
{{/if}}

{{#if this.isMaintenancePeriod}}
  <div class="ui maintenance-banner">
    <div class="maintenance-notice">
      <p>
        Please be advised that we are currently performing scheduled maintenance from {{this.maintenanceStart}} to {{this.maintenanceEnd}}. During that time, you will not be able to sign in to your account.  Thank you for your understanding. For help, please email example@planning.nyc.gov.
      </p>
    </div>
  </div>
{{/if}}
