<div
  class="ui grid container"
  data-test-password-reset-form
>
  <div class="six wide centered column">
    <h2 class="ui blue header">
      <div class="content">
        Reset your password
      </div>
    </h2>
    <div class="ui message">
      Enter a new password for your account.
    </div>
    <div class="ui segment">
      <form
        class="ui large form {{if this.error "error"}}"
        {{action "resetPassword" this.password on="submit"}}
      >
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{input
              type="password"
              name="password"
              value=this.password
              placeholder="Password"
            }}
          </div>
        </div>
        <div class="ui left error message">
          <div class="header">
            Error
          </div>
          <p>
            {{this.error.message}}
          </p>
        </div>
        <button type="submit" class="ui fluid large primary submit button">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>