<a href="http://www.nyc.gov/planning" class="beta-notice hide-for-print">
  A beta project of NYC Planning
</a>
<div class="ui fixed menu inverted top-bar">
  <div class="ui container">
    <div class="header item">
      <i class="table icon"></i>
      {{#link-to "user.projects"}}
        CEQR App
      {{/link-to}}
    </div>
    <div class="right menu">
      <div class="ui simple dropdown item">
        Technical Manual
        <i class="dropdown icon"></i>
        <div class="menu">
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/2014_ceqr_technical_manual_rev_04_27_2016.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            Full CEQR Technical Manual
          </a>
          <div class="divider"></div>
          <div class="header">
            Chapters
          </div>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/06_Community_Facilities_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            6: Community Facilities and Services
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/07_Open_Space_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            7: Open Space
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/08_Shadows_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            8: Shadows
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/14_Solid_Waste_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            14: Solid Waste and Sanitation Services
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/16_Transportation_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            16: Transportation
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/17_Air_Quality_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            17: Air Quality
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/19_Noise_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            19: Noise
          </a>
          <a
            class="item"
            href="https://www1.nyc.gov/assets/oec/technical-manual/22_Construction_2014.pdf"
            target="_blank"
            rel="noopener"
          >
            <i class="file pdf icon"></i>
            22: Construction
          </a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        <i class="question circle icon"></i>
        Help
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="mailto:KOrzechowski@planning.nyc.gov,Labs_DL@planning.nyc.gov?subject=CEQR App Feedback">
            <i class="envelope icon"></i>
            Contact Us
          </a>
        </div>
      </div>
      {{#if session.isAuthenticated}}
        <div class="ui simple dropdown item">
          {{currentUser.user.email}}
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" {{action "logOut"}}>
              <i class="sign out alternate icon"></i>
              Log Out
            </a>
          </div>
        </div>
      {{else}}
        <div class="item">
          {{#link-to "login"}}
            Log In
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{yield}}
