<h4 class="ui top attached header">
  <i class="building icon"></i>
  <div class="content">Transportation Zone Threshold</div>
</h4>

<table class="ui attached celled table">
  <thead>
    <tr>
      <th colspan="5">
        <h3 class="inline-header">{{project.ceqrNumber}} - {{project.name}}</h3>
        <div
          class="ui label large"
          data-tooltip="Build Year"
          data-position="bottom center"
          data-inverted=""
        >
          <i class="calendar alternate icon"></i>{{project.buildYear}}
        </div>
      </th>
    </tr>
    <tr>
      <th>Transportation Zone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{project.trafficZone}}</td>
    </tr>
  </tbody>
</table>