<div class="ui stackable grid container">
  <div class="ui sixteen wide column">

    <h1 class="ui dividing header">Air Quality: Light Industrial, Large, and Major Source</h1>

  </div>
  <div class="ui sixteen wide tablet ten wide computer column">

    <h2>How to complete this workbook?</h2>

    <p>Under CEQR, an air quality assessment determines both a proposed project's effects on ambient air quality as well as the effects of ambient air quality on the project. This workbook provides download of DEP CATS Permit records, DEC Air State Permit records, and Title V Air Permit records in order to allocate Light Industrial, Large and Major sources within the study area to determine whether detailed analyses for air toxic emissions are required in the Air Quality CEQR chapter.</p>

    <div class="ui section divider"></div>

    <h2>How can I find related permit records using this data?</h2>

    <h3>Identify permits using shapefiles</h3>

    <p>Downloadable shapefiles for each data set include locations of the air emission sources, importing the shapefiles into mapping softwares, e.g. ArcGIS, helps to allocate the sources within the study area.</p>

    <p>Per CEQR Technical Manual, Light Industrial source should be analyzed within 400 feet radius from the project site; Large and Major sources should be analyzed within 1000 feet radius from the project site.</p>

    <h3>Request permit records</h3>

    <p>For access to DEP CATS Permits, please fill out the inquiry form and contact DEP’S Bureau of Environmental Compliance at airpermit@dep.nyc.gov. For DEC Air State Permits and Title V Air Permits, direct permit download can be accessed through the url link provided in the shapefiles and the Excel files.</p>

  </div>
  <div class="ui sixteen wide tablet six wide computer column">

    <h3>
      <a href="#" >
        DEP CATS Permit records
        <i class="download icon"></i>
      </a>
      <br><small class="ui grey"> (Light Industrial Source)</small>
    </h3>
    <ul class="ui list">
      <li>DEP CATS Light Industrial Permit Records (Excel) </li>
      <li>DEP CATS Light Industrial Permit Records (Shapefile) </li>
      <li>Read Me (Word) </li>
      <li>Data Dictionary (Excel)</li>
    </ul>
    <small>Last Updated: 02/03/20</small>

    <div class="ui section divider"></div>

    <h3>
      <a href="#" >
        DEC Air State Permit Records
        <i class="download icon"></i>
      </a>
      <br><small> (Large Source)</small>
    </h3>
    <ul class="ui list">
      <li>List of DEC Air State Permits (Excel) </li>
      <li>List of DEC Air State permits (Shapefile) </li>
      <li>Read Me (Word) </li>
      <li>Data Dictionary (Excel)</li>
    </ul>
    <small>Last Updated: 02/03/20</small>

    <div class="ui section divider"></div>

    <h3>
      <a href="#" >
        Title V Air Permit Records
        <i class="download icon"></i>
      </a>
      <br><small> (Major Source)</small>
    </h3>
    <ul class="ui list">
      <li>List of Title V Air Permits (Excel) </li>
      <li>List of Title V Air permits (Shapefile) </li>
      <li>Read Me (Word) </li>
      <li>Data Dictionary (Excel)</li>
    </ul>
    <small>Last Updated: 02/03/20</small>

  </div>
</div>

{{outlet}}
