<div class="ui stackable grid container">
  <div class="ui sixteen wide column">

    <h1 class="ui dividing header">Air Quality Stationary Source Screening Data: Light Industrial, Large, and Major Source</h1>

  </div>
  <div class="ui sixteen wide tablet ten wide computer column">

    <h2>How do I use this page?</h2>

    <p>Under CEQR, an air quality assessment of mobile and stationary sources identifies both a proposed project's effects on ambient air quality as well as the effects of ambient air quality on the project. This page provides easily downloadable and reliable Light Industrial, Large and Major source permit information and data needed to complete a stationary source screening of a project’s effects on ambient air quality, and how ambient air quality may affect the project and its users. </p>
    <br>
    <p>Download DEP Clean Air Tracking System (CATS) Light Industrial Process Permit records, NYS State Air Facility Permit records, and NYS Title V Air Permit record data to identify Light Industrial, Large, and Major sources within your study area (using the radius boundaries specified in the 2014 CEQR Technical Manual) to determine whether detailed analyses for air toxic emissions is required, as part of an air quality stationary source assessment.</p>

    <h2>How can I find permit records and permit details using this data? </h2>

    <h3>Identify and allocate permits using downloadable data sets </h3>

    <p>Downloadable data sets on this page include geographic data (e.g. excel and shapefiles), as well as metadata (e.g. Read Me and Data Dictionary files). This data includes all locations of the air emission sources. </p>

    <p>In order to find permit records related to specific study areas, import the shapefiles into mapping software (e.g. ArcGIS) and filter permit records based on the appropriate radius from the project site. </p>

    <p> Per the 2014 CEQR Technical Manual (Chapter 17, Sec. 220, pg.17-15), Light Industrial sources should be analyzed if they are physically located within a 400 foot radius from the development site(s) identified in the environmental review for analysis; Large and Major sources should be analyzed if they are physically located within a 1000 foot radius from the development site(s). </p>

    <h3>Access detailed permits</h3>

    <p>For access to DEP CATS Light Industrial Permits, please request a "DEP Air Permit Request" form by contacting DEP’S Bureau of Environmental Compliance at airpermit@dep.nyc.gov. For NYS DEC State Facility Air Permits and Title V Air Permits, direct permit download can be accessed through the link provided in the downloadable Excel and shapefiles on the right side of this page. </p>

  </div>
  <div class="ui sixteen wide tablet six wide computer column">

    <h3 class="ui header">
      NYC DEP CATS Light Industrial Permit Records
      <span class="sub header">
        <strong>Light Industrial Source</strong>
      </span>
    </h3>

    <div class="ui list">
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/dep_cats_permits/latest/dep_cats_permits.csv" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            DEP CATS Light Industrial Permit Records <small>(Excel)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/dep_cats_permits/latest/dep_cats_permits.zip" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            DEP CATS Light Industrial Permit Records <small>(Shapefile)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/dep_cats_permits/latest/ReadMe_DEPCATS.pdf" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Read Me <small>(PDF)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/dep_cats_permits/latest/Open-Data-Dictionary-Template.xlsx" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Data Dictionary <small>(Excel)</small>
          </span>
        </a>
      </div>
    </div>

    <small>Last Updated: {{this.model.depUpdatedOn}}</small>

    <div class="ui section divider"></div>

    <h3 class="ui header">
      DEC State Facility Air Permit Records
      <span class="sub header">
        <strong>Large Source</strong>
      </span>
    </h3>

    <div class="ui list">
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_state_facility_permits/latest/nysdec_state_facility_permits.csv" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            List of DEC State Air Permits <small>(Excel)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_state_facility_permits/latest/nysdec_state_facility_permits.zip" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            List of DEC State Air permits <small>(Shapefile)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_state_facility_permits/latest/ReadMe_NYSAirFacilityPermits.pdf" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Read Me <small>(PDF)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_state_facility_permits/latest/Open-Data-Dictionary-Template.xlsx" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Data Dictionary <small>(Excel)</small>
          </span>
        </a>
      </div>
    </div>

    <small>Last Updated: {{this.model.nysdecUpdatedOn}}</small>

    <div class="ui section divider"></div>

    <h3 class="ui header">
      DEC Title V Air Permit Records
      <span class="sub header">
        <strong>Major Source</strong>
      </span>
    </h3>

    <div class="ui list">
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_title_v_facility_permits/latest/nysdec_title_v_facility_permits.csv" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            List of DEC Title V Air Permits <small>(Excel)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_title_v_facility_permits/latest/nysdec_title_v_facility_permits.zip" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            List of DEC Title V Air permits <small>(Shapefile)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_title_v_facility_permits/latest/ReadMe_NYC_TitleV.pdf" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Read Me <small>(PDF)</small>
          </span>
        </a>
      </div>
      <div class="item">
        <a href="https://edm-publishing.nyc3.digitaloceanspaces.com/ceqr-app-data/nysdec_title_v_facility_permits/latest/Open-Data-Dictionary-Template.xlsx" target="_blank" rel="noopener">
          <i class="download icon grey"></i>
          <span class="content">
            Data Dictionary <small>(Excel)</small>
          </span>
        </a>
      </div>
    </div>

    <small>Last Updated: {{this.model.titleVUpdatedOn}}</small>

  </div>
</div>

{{outlet}}
