<div class="ui grid container">
  <div class="six wide centered center aligned column">
    <h2 class="ui blue header">
      <div class="content">
        Almost there!
      </div>
    </h2>
    <p>
      We've sent a confirmation email to your account.
      <br>
      Find it and click through to confirm your email address.
    </p>
    <p>
      Note: it might take a minute or two to arrive.
    </p>
    <LinkTo @route="login" class="ui button primary">
      Log In
    </LinkTo>
  </div>
</div>
