<div class="ui pointing menu">
  {{#link-to
    "project.show.transportation.existing-conditions.census-tracts"
    project.id
    class="item"
  }}
    Census Tracts
  {{/link-to}}
  {{#link-to
    "project.show.transportation.existing-conditions.trip-generation"
    project.id
    class="item"
  }}
    Trip Generation
  {{/link-to}}
  {{#link-to
    "project.show.transportation.existing-conditions.journey-to-work"
    project.id
    class="item"
  }}
    Journey to Work 
  {{/link-to}}
</div>