<div class="ui pointing menu">
  {{#link-to
    "project.show.transportation.existing-conditions.study-area"
    project.id
    class="item"
  }}
    Study Area
  {{/link-to}}
  {{#link-to
    "project.show.transportation.existing-conditions.journey-to-work"
    project.id
    class="item"
  }}
    Journey to Work 
  {{/link-to}}
</div>