{{! Shares the controller context from 'project' }}
{{title "[Community Facilities]" prepend=false}}
{{#if showAnalysisSteps}}
  <div class="row">
    <div class="sixteen wide column">
      <CommunityFacilities::AnalysisSteps @project={{project}} />
    </div>
  </div>
{{/if}}
{{outlet}}