{{! Shares the controller context from 'project' }}
{{page-title "[Community Facilities]" prepend=false}}
{{#if this.showAnalysisSteps}}
  <div class="row">
    <div class="sixteen wide column">
      <CommunityFacilities::AnalysisSteps @project={{this.project}} />
    </div>
  </div>
{{/if}}
{{outlet}}