<div class="ui grid">
  <div class="ten wide column">
    <ProjectDetails
      @project={{changeset model.project ProjectValidations}}
      @save={{route-action "save"}}
      @rollback={{route-action "rollback"}}
     />

  </div>
  <div class="six wide column">
    <ProjectUsers @project={{model.project}} />
  </div>
</div>