{{! Shares the controller context from 'project' }}
{{title "[Transportation]" prepend=false}}
{{#if this.projectCtrl.showAnalysisSteps}}
  <div class="row">
    <div class="sixteen wide column">
      <Transportation::AnalysisSteps @project={{this.model.project}} />
    </div>
  </div>
{{/if}}
{{outlet}}