{{! Shares the controller context from 'project' }}
{{title "[Transportation]" prepend=false}}

<div class="row">
  <div class="sixteen wide column">
    <Transportation::AnalysisSteps @project={{this.model.project}} />
  </div>
</div>

{{outlet}}
