<Transportation::Tdf::TripGenerationRates @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::TemporalDistribution @factor={{model.transportationPlanningFactor}} />

{{log model}}


<div class="row">
  <div class="sixteen wide column">
    <h3 class="ui header float left">Modal Splits</h3>
  </div>
</div>
