<div class="row">
  <div class="sixteen wide column sticky-transportation-bar">
    {{#sticky-element top=79}}
      <Transportation::LandUseMenu
        @tdfSection="planning-factors"
        @model={{model}}
      />
    {{/sticky-element}}
  </div>
</div>

<div class="sixteen wide column">
  <div class="ui icon message">
    <i class="attention icon"></i>
    <div class="content">
      <div class="header">
        Explore Census Data for Residential and Office Land Uses
      </div>
      <p>
        The CEQR Transportation chapter offers a census data explorer allowing you to select
      census tracts for your project and gather mode split data from ACS and CTPP data sources.
      </p>
      <p>
        <font color="red">We currently only offer data for Residential and Office land uses.</font>
      </p>
    </div>
  </div>
</div>

{{outlet}}
