<div class="row">
  <div class="sixteen wide column">
    <Transportation::LandUseMenu 
      @tdfSection="planning-factors"
      @factors={{model.transportationPlanningFactors}}
    />
  </div>
</div>

{{outlet}}
