<div class="row">
  <div class="sixteen wide column sticky-transportation-bar">
    {{#sticky-element top=65}}
      <Transportation::LandUseMenu
        @tdfSection="planning-factors"
        @factors={{model.transportationPlanningFactors}}
        @model={{model}}
      />
    {{/sticky-element}}
  </div>
</div>

{{outlet}}
