<div class="row">
  <div class="sixteen wide column sticky-transportation-bar">
    {{#sticky-element top=80}}
      <Transportation::LandUseMenu
        @tdfSection="planning-factors"
        @model={{model}}
      />
    {{/sticky-element}}
  </div>
</div>

{{outlet}}
