<div class="row sticky-transportation-bar">
  <div class="sixteen wide column">
      <Transportation::LandUseMenu
        @tdfSection="planning-factors"
        @model={{this.model}}
      />
  </div>
</div>

<div class="sixteen wide column">
  <div class="ui icon message">
    <i class="attention icon"></i>
    <div class="content">
      <div class="header">
        Explore Census Data for Residential and Office Land Uses
      </div>
      <p>
        The CEQR Transportation chapter offers a census data explorer allowing you to select
      census tracts for your project and gather mode split data from ACS and CTPP data sources.
      </p>
      <p class="analysis-threshold-notice">
        We currently only offer data for Residential and Office land uses.
      </p>
    </div>
  </div>
</div>

{{outlet}}
