<div class="row sticky-transportation-bar">
  <div class="sixteen wide column">
      <Transportation::LandUseMenu
        @showTotalLink={{true}}
        @tdfSection="trip-results"
        @model={{this.model}}
      />
  </div>
</div>

{{outlet}}
