<div class="row">
  <div class="sixteen wide column">
    <Transportation::LandUseMenu
      @showTotalLink={{true}}
      @tdfSection="trip-results"
      @factors={{model.transportationPlanningFactors}}
    />
  </div>
</div>

{{outlet}}
