<div class="row">
  <div class="sixteen wide column sticky-transportation-bar">
    <StickyElement @top={{79}}>
      <Transportation::LandUseMenu
        @showTotalLink={{true}}
        @tdfSection="trip-results"
        @model={{model}}
      />
    </StickyElement>
  </div>
</div>

{{outlet}}
