<div class="row">
  <div class="sixteen wide column sticky-transportation-bar">
    <Transportation::LandUseMenu
      @showTotalLink={{true}}
      @tdfSection="trip-results"
      @model={{model}}
    />
  </div>
</div>

{{outlet}}
