<div class="ui tiny steps fluid">
  <LinkTo
    @route="project.show.community-facilities.analysis-threshold"
    @model={{this.project.id}}
    class="step"
  >
    <div class="content">
      <div class="title">
        Analysis Threshold
      </div>
      <div class="description">
        Need for detailed analysis
      </div>
    </div>
  </LinkTo>
  <LinkTo
    @route="project.show.community-facilities"
    @model={{this.project.id}}
    class="step disabled"
  >
    <div class="content">
      <div class="title">
        Existing Conditions
      </div>
    </div>
  </LinkTo>
  <LinkTo
   @route="project.show.community-facilities"
    @model={{this.project.id}}
    class="step disabled"
  >
    <div class="content">
      <div class="title">
        No Action Scenario
      </div>
    </div>
  </LinkTo>
  <LinkTo
    @route="project.show.community-facilities"
    @model={{this.project.id}}
    class="step disabled"
  >
    <div class="content">
      <div class="title">
        With Action Scenario
      </div>
    </div>
  </LinkTo>
</div>