<div class="ui top attached clearing segment">
  <h4 class="ui left floated header">
    <div class="content">
      Modal Splits and Vehicle Occupancy
    </div>
  </h4>
</div>
<table class="ui attached celled table">
  <thead>
    <tr>
      <th colspan="2" class="two wide">
        Modal Split
      </th>
      <th colspan="2" class="two wide">
        Vehicle Occupancy
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>