<div class="ui column grid container site">
  <div class="row">
    {{outlet}}
  </div>

  <div class="row">
    <button class="ui green button" {{action "newProject"}}>
      New Project
    </button>
  </div>
</div>
