<div class="ui column grid container site">
  <div class="row">
    <ul>
      {{#each model as |project|}}
        <li>{{#link-to 'project.show' project.id}}{{project.name}} ({{project.project_id}}){{/link-to}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="row">
    {{#link-to "project.new" class="ui green button"}}
      New Project
    {{/link-to}}
  </div>
</div>
