<div class="ui middle aligned center aligned grid signup">
  <div class="column">
    <h2 class="ui teal header">
      <div class="content">
        Create an account
      </div>
    </h2>
    <div class="ui segment">
      <form class="ui large form" {{action 'createUser' user on='submit'}}>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{input type="text" value=user.email placeholder="Email"}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input type="password" value=user.password placeholder="Password"}}
            </div>
          </div>
          <button type="submit" class="ui fluid large teal submit button">Create Account</button> 
      </form>
    </div>

    <div class="ui message">
      Already have an account? {{#link-to 'login'}}Log In{{/link-to}}
    </div>
  </div>
</div>